$orange-color : rgba(255, 99, 74, 1);

// HEADER

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    z-index: 5;
    display: flex;
    align-items: center;

    &:before {
        content: "";
        height: 100%;
        position: absolute;
        background-color: #F2EEEE;
        width: 100%;
        z-index: 3;
    }

    @media all and (max-width : 768px) {
        height: 60px;

        &:before {
            content: "";
            //background-color: #b4b4b4;
        }
    }
}
.header__body {
    width: 100%;
    position: relative;
    z-index: 5;
}
.header__container {
    display: flex;
    align-items: center;
}
.header__logo {
    width: 104.65px;
    height: 30.4px;

    line-height: 0.6;

    &:hover {
        cursor: pointer;
    }

    @media all and (max-width : 768px) {
        width: 82px;
        height: 24px;
    }

    & img {
        height: 100%;
        width: 100%;
    }
}
.header__nav {
    display: flex;
    align-items: center;
}
.nav__desktop {
    line-height: 0.6;
    display: flex;
    justify-content: space-between;
    width: 336px;

    @media all and (max-width : 768px) {
        display: none;
    }
}
.nav__languages {
    line-height: 0.6;
    padding-top: 17px;
    color: black;
}
.nav__log-in {
    padding-top: 16.5px;
    color: black;
    transition-duration: 0.2s;

    &:hover {
        cursor: pointer;
        color: $orange-color;
    }
}
.sign-up__button {
    font-size: 14px;
    color: white;
    border: none;
    line-height: 0.6;
    padding: 16.5px 58px 16.5px 56px;
    outline: none;
    border-radius: 6px;
    background-color: $orange-color;
    width: 162px;
    height: 48px;
    transition-duration: 0.2s;

    &:hover {
        cursor: pointer;
        background-color: #d24335;
    }
}
.nav__mob {
    display: flex;
    height: 13px;
    width: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media all and (min-width : 768px) {
        display: none;
    }
}
.sign-up__link {
    line-height: 0.8;
    font-size: 14px;
    //width: 48px;
    height: 13px;
    color: black;
    transition-duration: 0.2s;

    &:hover {
        cursor: pointer;
        color: $orange-color;
    }
}
.burger__menu {
    display: block;
    position: relative;
    width: 24px;
    height: 10px;

    &:before {
        content: '';
        height: 1.5px;
        position: absolute;
        width: 100%;
        left: 0;
        background-color: rgb(0, 0, 0);
        top: 0px;
    }

    &:after {
        content: '';
        height: 1.5px;
        position: absolute;
        width: 100%;
        left: 0;
        background-color: rgb(0, 0, 0);
        bottom: 0.5px;
    }


}
.shape__logo {
    width: 6px;
    transition-duration: 0.2s;

    &:hover {
        cursor: pointer;
        transform: rotate(180deg)
    }
}

//MAIN

.main {
    margin-top: 143px;
    margin-bottom: 95px;

    @media all and (max-width: 768px) {
        margin-top: 101px;
        margin-bottom: 63px;
    }
}
.main__header {
    font-size: 32px;
    margin-bottom: 24px;
    font-weight: 400;

    @media all and (max-width: 768px) {
        font-size: 24px;
        margin-bottom: 16px;
    }

    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Chrome/Safari/Opera */
    -khtml-user-select: none;
    /* Konqueror */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;

}

//ADJUSTMENT

.adjustment {

    display: flex;
    justify-content: space-between;

    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Chrome/Safari/Opera */
    -khtml-user-select: none;
    /* Konqueror */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                        not supported by any browser */



}
.filer {
    //width: 242px;
    display: flex;
    justify-content: space-between;

}
.filter__item {
    display: block;
    //position: relative;
    //width: auto;
    //display: block;

    &:last-child {
        //background-color: red;

        .filter__header {

            margin-right: 0px;
        }

    }


    //padding-left: 4px;
}
.filter__header {
    width: auto;
    margin-right: 40px;
    padding-bottom: 14px;
    display: inline-flex;

    @media all and (max-width: 576px) {
        margin-right: 24px;
    }

    &:hover {
        cursor: pointer;
    }



}
.filter__name {
    font-size: 14px;
    padding-right: 9px;

}
.input__body {
    display: flex;
    justify-content: space-between;
}
.input__data {
    margin-top: 8px;
    margin-bottom: 4px;
    display: flex;
    justify-content: space-between;

}
.range__input {
    max-width: 100px;
    padding: 8px 12px 9px 12px;
    border: 1px solid rgba(0, 0, 0, 0.08);
    box-sizing: border-box;
    border-radius: 6px;

    &:focus {
        outline: none;
        border: 1px solid $orange-color;

    }
}
.dropdown {
    display: none;
    position: absolute;
    z-index: 1;
}
.dropdown__body {
    position: absolute;

    background-color: #ffffff;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 50;
    left: -13px;
    border-radius: 6px;
    padding: 12.64px 0 16px 0;



}
.sort__dropdown {
    @media all and (max-width: 768px) {

        left: -54px;

    }
}
.sort__mob {
    @media all and (max-width: 768px) {

        display: none;

    }
}
.range-slider__body {
    height: auto;
    display: block;
    position: absolute;
    background-color: #ffffff;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    left: -83px;
    border-radius: 6px;
    padding: 20px 26px 24px 20px;
}
.age__dropdown {
    @media all and (max-width: 576px) {

        left: -138px;

    }
}
.dropdown__item {
    //max-height: 25px;
    margin-bottom: 8px;

    &:last-child {
        margin-bottom: 0px;
    }

}
.filter__item:hover {

    & .filter__name {
        color: $orange-color;
    }

    & .dropdown {
        display: block;
    }

    .shape__logo {
        transition-duration: 0.2s;
        cursor: pointer;
        transform: rotate(180deg)
    }

}
.slider__body {
    padding-top: 10px;
    text-align: center;
}
.sort__burger {
    margin-top: 6px;
    display: none;
    position: relative;
    width: 21.16px;
    height: 17.92px;

    &:before {
        content: '';
        height: 1.5px;
        position: absolute;
        width: 21.62px;
        left: 0;
        background-color: rgb(0, 0, 0);
        top: 0;


    }

    & span {


        height: 1.5px;
        position: absolute;
        width: 14.4px;
        left: 0;
        background-color: black;
        top: 8px;
    }

    &:after {
        content: '';
        height: 1.5px;
        position: absolute;
        width: 7.59px;
        left: 0;
        background-color: rgb(0, 0, 0);
        bottom: 0;

    }

    &:hover {

        &:before,
        span,
        &:after {

            background-color: $orange-color;
        }
    }

    @media all and (max-width: 768px) {

        display: block;

    }
}
.dropdown__point {
    min-height: 25px;
    line-height: 2;
    padding: 0 26px 0 20px;
    font-size: 14px;
    margin: 0;

    &:hover {
        position: relative;
        width: 100%;
        background-color: #f2eeee;
        color: black;
        cursor: pointer;
    }

    &:last-child {
        padding-bottom: 0px;
    }
}
.input__point {
    display: none;
}
.input__point:checked+.color__active {
    min-height: 25px;
    position: relative;
    width: 100%;
    left: 0;
    background-color: #f2eeee;
}
.input__point:checked+.sorted__active {
    min-height: 25px;
    position: relative;
    width: 100%;
    left: 0;
    background-color: #f2eeee;
}
.multi-range-slider {
    width: 200px;
    text-align: center;
    position: relative;
}

.multi-range-slider svg,
.multi-range-slider input[type="range"] {
    position: absolute;
    left: 0;
    bottom: 0;
}
input[type="range"]::-webkit-slider-thumb {
    z-index: 2;
    position: relative;
    top: -1px;
}

.range__slider {
    width: 100%;
    height: 2px;
    -webkit-appearance: none;
    outline: none;
    background-color: $orange-color;
}
.range__slider::-webkit-slider-thumb {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: $orange-color;
    -webkit-appearance: none;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}
input[type="number"]:hover,
input[type="number"]:focus {
    -moz-appearance: number-input;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

//PEOPLE

.persons__empty {
    color: black;
    font-size: 30px;
}
.person__loading {
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background-color: rgb(150, 150, 150);
    z-index: 50;
    opacity: 0.6;
    display: flex;
    justify-content: center;
    align-items: center;
}
.persons {
    margin-top: 34px;
    line-height: 0.9;
    color: white;

    @media all and (max-width: 768px) {
        margin-top: 10px;
    }
}
.persons__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.person__info {
    position: relative;
    border-radius: 6px;
    background-size: cover;
    background-position: center;
    margin-bottom: 17px;
    width: 49.5%;
    height: 410px;

    @media all and (max-width: 768px) {
        margin: 0 auto 17px;
        width: 99%;
    }
}
.humans__image {
    border-radius: 6px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
}
.image__black {
    border-radius: 6px;
    opacity: 0.4;
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
}
.info__body {
    position: absolute;
  
    @media all and (max-width: 768px) {
        bottom: 0;
    }
    padding: 21px 24px;
}
.person__year {
    padding-bottom: 16px;
}
.person__name {
    font-size: 24px;
    font-weight: 400;
    padding-bottom: 8px;
}
.person__characteristi—Å {
    display: inline-flex;

    & div {

        font-weight: 100;
        margin-right: 24px;
        font-size: 14px;
    }

    @media all and (max-width: 992px) {
        & div {
            line-height: 18px;
            margin-right: 16px;
        }
    }
}

//FOOTER

.footer {
    font-size: 14px;
    background-color: #f2eeee;
}
.footer__body {
    padding: 43px 0 21px 0;

    @media all and (max-width: 768px) {
        padding: 32px 0 24px 0;
    }
}
.footer__nav {
    display: flex;
    justify-content: space-between;

    @media all and (max-width: 768px) {
        flex-direction: column;

        & div {
            margin-bottom: 24px;

            &:last-child {
                margin-bottom: 0px;
            }
        }
    }
}
.footer__link {

    & a {
        &:hover {
            opacity: 0.8;
        }

        &:first-child {
            margin-right: 16px;
        }
    }
}
.footer__message {
    margin-top: 65.53px;
    display: flex;
    justify-content: space-between;

    @media all and (max-width: 768px) {
        margin-top: 40px;
    }
}